amqp==1.4.9
anyjson==0.3.3
billiard==3.3.0.23
celery==3.1.23
Django==1.10
django-appconf==1.0.2
django-celery==3.1.17
django-imagekit==3.3
kombu==3.0.35
pilkit==1.1.13
Pillow==3.3.1
python-magic==0.4.12
pytz==2016.6.1
six==1.10.0
sqlparse==0.2.1
