{% extends 'index.html' %}
{% block body %}
<div class="row">
    <div id="topic-{{topic.id}}" class="row">
        <div class="large-12 columns">
            <div class="panel">
                <h1>{{ topic.title }}</h1>
            </div>
        </div>
    </div>
    <div class="large-12 columns">
        <div class="row">
            <div class="large-2 columns small-3"><img src="http://placehold.it/80x80&text=[img]"/>
            </div>
            <div class="large-10 columns">
                <p>{{topic.Description}}</p>
                <ul class="inline-list">
                    <li><span id="commentButton" href="">Reply</span></li>
                    <li><a href="">Share</a></li>
                </ul>
                <hr id="commentLineBreak">
                <form method='POST' action="" id="commentForm">
                    {% csrf_token %}
                    <input type="hidden" name="topicid" value="{{topic.id}}" />
                    <input type="hidden" name="topicslug" value="{{topic.slug}}" />
                    {{ form.body }}
                    <input id="addComment" class="button" type="submit" value="submit" />
                </form>
                <hr>
                <h6>{{ topic.comment_set.count }} Comments</h6>
                <div id="commentsList" class="row">
                    {% for comment in topic.comment_set.all %}
                    <div class="comment">
                        <div class="large-2 columns small-3">
                            <img src="http://placehold.it/50x50&text=[img]"/>
                        </div>
                        <div class="large-10 columns">
                            <p style="color: blue;">{{ comment.user }}</p>
                            <p>{{ comment }}</p>
                        </div>
                        <hr>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
    <hr/>

{% endblock %}
