{% extends 'index.html' %}
{% block body %}
<div class="row">
    <p><img src="http://placehold.it/1000x400&text=[banner img]"/></p>
</div>
<div class="row">
    <div class="large-12 columns">
        <div class="panel">
            <h4>Get in touch!</h4>
            <div class="row">
                <div class="large-9 columns">
                    <p>We'd love to hear from you, you attractive person you.</p>
                </div>
                <div class="large-3 columns">
                    <a href="#" class="radius button right">Contact Us</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
