{% extends 'index.html' %}
{% block body %}
<div class="row">
    <div class="large-12 columns">
        <div class="radius panel">
            <form>
                <div class="row collapse">
                    <div class="large-10 small-8 columns">
                        <input type="text"/>
                    </div>
                    <div class="large-2 small-3 columns">
                        <a href="#" class="postfix button expand">Search</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
<hr>
</div>

<div class="row ">
    {% for book in books %}
        <div class="large-2 columns">
          <a href="#"> <span> </span><img src="{% if book.cover %}{{book.cover_thumbnail.url}}{% else %}http://placehold.it/500x500&amp;text=Thumbnail{% endif %}" alt="book cover" class=" thumbnail"></a>
        </div>
        <div class="large-10 columns">
          <div class="row">
            <div class=" large-9 columns">
              <h5><a href="{{ book.get_absolute_url }}">{{ book.title }}</a></h5>
              <p><a href="{{ book.get_absolute_url}}"> Info</a> | <a href="#">Share</a></p>
            </div>
            <div class=" large-3 columns">
              <a href="#"  class="button expand medium"><span>Download </span> </a>
              <a href="#"  class="button expand medium"><span>Report</span></a>
            </div>
            <div class="row">
              <div class=" large-12 columns">
                <ul class="large-block-grid-2">
                  <li>
                    <ul>
                      <li><strong>Author: </strong>{% for author in book.author.all %}{{ author.name }}, {% endfor %}</li>
                      <li><strong>Edition:</strong> {{ book.edition }}</li>
                      <li><strong>publish:</strong> to be implemented</li>
                    </ul>
                  </li>
                  <li>
                    <ul>
                      <li><strong>rating:</strong> {{ book.rating }}</li>
                      <li><strong>isbn-10: </strong> {{ book.isbn10 }}</li>
                      <li><strong>isbn-13: </strong> {{ book.isbn13 }}</li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <hr>
    {% endfor %}

{% endblock %}
