#commentButton {
    color: #008CBA;
    cursor: pointer;
}

label[for="id_body"] {
    display: none;
}

#commentForm {
    display: none;
}

#commentLineBreak {
    display: none;
}

nav.top-bar > ul.title-area > li > h1 > a {
    color: #6b8aca;
}

nav.top-bar > section.top-bar-section > ul.right > li.upload-button > a {
    background-color: #6b8aca;
}
